html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0;
}

.header {
    background-color: #000000;
    padding: 10px;
}

.footer {
    background-color: #000000;
    padding: 10px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #ffffff;
    transition: .3s;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 50px;
}

.section {
    width: calc(50% - 10px);
    border-bottom: 1px solid #818181;
    padding: 5px;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.section-item a {
    color: #2e1e1e;
    text-decoration: none;
    transition: color 0.5s;
}

.section-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #661515;
}

.section-title-main {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px;
}

.section-profile-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.section-profile-photo {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 50%;
}

.section-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}