body {}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    /* Шрифт заголовков */
}

h2 {
    font-family: 'Cinzel', serif;
    /* Шрифт основного текста */
}